<form action="{{url_for('choose_videos')}}" method="POST">
    {% for video in videos %}
        <br />
        <video controls="controls" preload="preload">
                {% set filename = filename ~ 'video_files/' ~ video%}
                <source src="{{ url_for('static', filename=filename) }}" type="video/mp4"></source>
        </video>
        <br />
        <p>Delete:<input type="checkbox" value="delete" name="{{video}}" /></p>
    {% endfor %}
    <p><input type="submit" value="Continue" /></p>
</form>
