<form action="add-filter" method = "POST">
    <p>Filter Name <input type = "text" name = "filter-name" /></p>

    <label for="filter-names">Choose a filter Type</label>
    <select name="filter-names" id="filter-names-dropdown">
        <option value="hashtag">Hashtag</option>
        <option value="author">Author</option>
        <option value="trending">Trending</option>
    </select>
    <p>Filter <input type = "text" name = "filter" /></p>
    <p><input type = "submit" value = "submit" /></p>
</form>